@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*make smooth scroll*/
    --scroll-behavior: smooth;
    --background: 60 100% 97%;
    --foreground: 142 74% 11%;

    --card: 0 0% 100%;
    --card-foreground: 142 74% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 142 74% 11%;

    --primary: 142 74% 11%;
    --primary-foreground: 60 100% 97%;

    --secondary: 60 100% 97%;
    --secondary-foreground: 142 74% 11%;

    --muted: 142 10% 90%;
    --muted-foreground: 142 30% 30%;

    --accent: 142 10% 90%;
    --accent-foreground: 142 74% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 100% 97%;

    --border: 142 20% 85%;
    --input: 142 20% 85%;
    --ring: 142 74% 11%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 142 74% 5%;
    --foreground: 60 100% 97%;

    --card: 142 74% 5%;
    --card-foreground: 60 100% 97%;

    --popover: 142 74% 5%;
    --popover-foreground: 60 100% 97%;

    --primary: 60 100% 97%;
    --primary-foreground: 142 74% 11%;

    --secondary: 142 30% 10%;
    --secondary-foreground: 60 100% 97%;

    --muted: 142 30% 15%;
    --muted-foreground: 142 10% 70%;

    --accent: 142 30% 15%;
    --accent-foreground: 60 100% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 100% 97%;

    --border: 142 30% 20%;
    --input: 142 30% 20%;
    --ring: 60 100% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
